# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code config
.vscode
